bin/*
obj/*
.vs/*
ChinesePoetryLibrary/ChinesePoetryLibrary/obj/*
ChinesePoetryLibrary/ChinesePoetryLibrary/bin/*
ChinesePoetryLibrary/ChinesePoetryLibrary (Package)/obj/*
ChinesePoetryLibrary/ChinesePoetryLibrary (Package)/bin/*
